.contenedor{
    align-items: center;
    display: flex!important;
    flex-direction: column;
    margin-top: 50px;
}

.container-logo{
	text-align: center;
    background: #f1f1f1;
    border-radius: 1.3rem;
    padding: 15px 22px;
}

#img_login{
	margin-bottom: 20px;
}

.nav-link{
	font-weight:bold!important;
}

.verticalText{
	writing-mode: vertical-lr!important;
	transform: rotate(180deg)!important;
	margin-right: 0px;
	margin-left: 0px;
}

.table .thead-dark th {
    color: #fff;
    background: #304670!important;
	background-color: #304670!important;
}

.table thead th {
    vertical-align: middle!important;
}

.table td, .table th {
    padding: .2rem!important;
}

.nav-tabs{
	margin-top: 20px!important;
}


























